# macOS metadata
._*
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OPA
bundles/
*.tar.gz

# Docker
.docker
